* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:after,
 :before {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Lato', sans-serif;
    color: $color-black;
    font-size: $font-xs;
    margin: 0 auto;
    background: rgba($color-light-blue, .2);
}

img {
    max-width: 100%;
    border: none;
    outline: none;
}

a {
    // color: $color-blue;
    text-decoration: none;
    transition: all .3s;
    outline: none;
    cursor: pointer;
    &:hover,
    &:focus {
        // color: $color-blue;
        outline: none;
        text-decoration: underline;
    }
}

p {
    margin-bottom: 10px;
    // color: $color-dark-gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: $light;
    line-height: 1.3em;
    color: $color-black;
    letter-spacing: -.01em;
    margin: 0;
}

h1 {
    font-size: 3.857em;
    margin-bottom: 1.25em;
}

h2 {
    font-size: 2.6em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.929em;
    font-weight: $light;
    margin-bottom: .3em;
}

h4 {
    font-size: 1.7em;
    font-weight: $bold;
    line-height: normal;
    margin-bottom: 1em;
}

h5 {
    font-size: 1.143em;
    font-weight: $bolder;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    display: block;
}

input,
select,
textarea,
button {
    // font-family: Open Sans, Arial, Sans-Serif;
    outline: none;
}

input {
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
        color: $color-white;
        &:hover,
        &:focus,
        &:active {
            -webkit-box-shadow: 0 0 0 1000px white inset;
            color: $color-white;
        }
    }
    font-size: $font-md;
    font-weight: 500;
    color: $color-black;
    line-height: 1.42857143;
    background: $color-white;
    display: inline-block;
    border: 2px solid #ccc;
    margin: 0;
    padding: 13px 20px;
    border-radius: 3px;
    // transition: all .3s;
}

select {
    font-size: $font-sm;
    color: $color-black;
    width: 100%;
    height: 48px;
    border: 1px solid #dadada;
    padding: 0 41px 0 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // transition: all .3s;

    &:focus {
        border-color: #2cace3;
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $color-black;
    }

    &::-ms-expand {
        display: none;
    }

    option {
        padding-left: 15px;
    }
}

select::-ms-expand {
    display: none;
}

.cm-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cm-container {
    max-width: 1170px;
    width: auto;
}

button,
select {
    cursor: pointer;
}

button:focus {
    outline: none;
}


.clear-fix {
    clear: both;
}


.white-text {
    color: $color-white;
}

.hr {
    // border-bottom: $global-border;
    border-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.width-sm,
.width-md,
.width-lg {
    margin-left: auto;
    margin-right: auto;
}

.width-sm {
    max-width: 400px;
}

.width-md {
    max-width: 550px;
}


table {
    background: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    color: #777;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    > {
        thead>tr>th,
        tbody>tr>th,
        tfoot>tr>th,
        thead>tr>td,
        tbody>tr>td,
        tfoot>tr>td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            // border-top: $global-border;
        }
        caption+thead>tr:first-child>th,
        colgroup+thead>tr:first-child>th,
        thead:first-child>tr:first-child>th,
        caption+thead>tr:first-child>td,
        colgroup+thead>tr:first-child>td,
        thead:first-child>tr:first-child>td {
            border-top: 0;
        }
        tbody+tbody {
            // border-top: 2px solid $color-light-gray;
        }
    }
    .table {
        background: $color-white;
    }
}

.table-bordered {
    // border: $global-border;
    > {
        thead>tr>th,
        tbody>tr>th,
        tfoot>tr>th,
        thead>tr>td,
        tbody>tr>td,
        tfoot>tr>td {
            // border: $global-border;
        }
        thead>tr> {
            th,
            td {
                border-bottom-width: 2px;
            }
        }
    }
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.table-hover>tbody>tr:hover {
    // background: $color-white-smoke;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.valign-middle {
    display: table-cell;
    float: none;
    vertical-align: middle;
}


/* Radio */
.form-radio li {
    list-style: none;
    margin-top: 10px;
    position: relative;

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        font-weight: normal;
        line-height: 22px;
        display: inline-block;
        position: relative;
        padding-left: 35px;
        margin: 0;
        cursor: pointer;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 22px;
        background: #fff;
        border: 1px solid #00aeef;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background: #00aeef;
        position: absolute;
        top: 5px;
        left: 5px;
        transition: all 0.2s ease;
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cm-hidden{
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.bs-box{
    max-width: 640px; 
    margin: 0 auto;
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.5));
    background-color: $color-light-grey;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-height: 628px;    
    max-height: 628px;
    height: 68vh;
    min-height: 500px;
    .form-wrapper{
        max-width: 418px;
        &.typ-ht{
            margin: 0;
            padding-left: 27px;
            position: absolute;
            left: 0;
            right: 0;
            top: 120px;
            bottom: 55px;
            overflow-y: auto;
        }
        .col-wrap{
            .col2{
                ul{
                    background: rgba(#d8d8d8, 0.12);
                    padding: 13px 26px;
                }
                &:last-child{
                    margin: 0 70px 0 60px;
                }
            }
        }
    }
    .title-wrap{
        &.typ-topspace{
            margin-top: 20px;
        }
    }
    .sec-title, .sub-title{
        color: $color-blue;
        font-weight: $bold;
        text-transform: uppercase;
        font-size: $font-xl;
        margin-bottom: 25px;
    }
    .sec-title{
        font-family: 'Avenir';
    }
    .sub-title{
        font-size: $font-md;
        margin-bottom: 18px;
        text-transform: capitalize;
        font-weight: $regular;
        color: $color-dark-grey;
    }
    &.typ-lg{
        max-width: 1162px;
        .form-wrapper{
            margin: 0;
            padding-left: 27px;
        }
    }
    &.typ-ht-lg{
        min-height: 628px;
        height: 68vh;
        .logo-wrapper{
            width: 230px;
        }
    }
}

.logo-wrapper{
    width: 282px;
    margin: 30px auto 37px;
    a{
        display: block;
        img{
            display: block;
            width: 100%;
        }
    }
}

.form-wrapper{
    margin:0 auto;
    .form-list{
        .form-lbl{
            color: $color-blue;
            font-size: $font-xs;
            margin-bottom: 6px;
            text-transform: capitalize;
            display: block;
            &.lg{
                font-size: 17px;
            }
            &.typ-radio{
                margin-bottom: 10px;
            }
        }
        .form-control{
            font-size: $font-xs;
            height: 40px;
            border-radius: 2px;
            border: solid 0.5px #dadada;
            background-color: $color-white;
            width: 100%;
            max-width: 418px;
            margin-bottom: 13.4px;
            padding: 10px 16.2px;
            color: $color-dark-grey;
            @include placeholder {
                font-size: $font-xs;
                color: #9b9b9b;
            } 
            &+.icon{
                background-image: url(../images/sprites_icon.png);
                background-repeat: no-repeat;
                background-position: 0 0;
                height: 24px;
                width: 20px;
                display: inline-block;
                position: relative;
                right: 31px;
                top: 8px;
                &.icon-plus{
                    background-position: -100px -1398px;            
                    width: 31px;
                    height: 31px;
                    left: 15px;
                    top: 9px;
                }
            }
        }
        &.inputfile-box {
            position: relative;
            &.filled{
                .file-box {
                    color: $color-dark-grey
                }
            }
          }
          
          .inputfile {
            display: none;
          }
          
          .file-box {
            display: inline-block;
            font-size: $font-xs;
            color: #9b9b9b;
            cursor: pointer;
          }
          
          .file-button {
            position: absolute;
            transform: translateY(-60%);
            right: -120px;
            line-height: 15px;
            top: 60%;
            cursor: pointer;
          }
    }
    &.typ-mdwidth{
        // max-width: 570px;
        max-width: 445px;
        position: relative;
        .btn-wrapper{
            position: absolute;
            right: -120px;
        }
    }
    &.typ-fullwidth{
        max-width: initial; 
        padding-right: 27px;       
    }
    select{
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-image: url("../images/arrow.svg");
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        margin: 0;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 418px;
        height: 40px;
        border-radius: 2px;
        border: solid 0.5px #dadada;
        background-color: $color-white;
        margin-bottom: 13.4px;
     }
}

.btn{
    font-size: $font-xs;
    font-weight: $bold;
    color: $color-white;
    font-family: inherit;
    border: 0;
    box-shadow: none;
    text-transform: uppercase;
    padding: 12.5px 24.5px;
    line-height: 10px;
    margin-right: 18px;
    &:last-child{
        margin-right: 0;
    }
    &.btn-rounded{
        height: 40px;
        border-radius: 20px;
        @include linear-gradient(251deg, #ff4900, #344390);
        // background-image: linear-gradient(251deg, #ff4900, #344390);
    }
    &.type-blue{
        @include linear-gradient(to left, #5cc5ef, #344390);
    }
    &.btn-disabled{
        @include linear-gradient(to right, #cbcbcc, #b4b4ba);
    }
}

.btn-wrapper{
    margin-top: 19.3px;
    &.typ-right{
        text-align: right;
    }
    &.btm-space{
        padding-bottom: 55px;
    }
}


/*Styling for Header Start*/
.lyt-header{
    border-bottom: 2px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .logo-wrapper{
        padding: 18px 17px;
        margin: 0;
        width: 178px;
        float: left;
    }
    .mod-menu{
        display: flex;
        height: 100%;
        li{
            margin:0 4px;
            display: inline-flex;
            align-items: flex-end;
            a{
                display: block;
                text-align: center;
                background: transparent;
                padding: 15px 13px 5px 13px;
                border: solid 1px transparent;
                &:hover,&.active{
                    border: solid 1px #ebebeb;
                    background-color: rgba(239, 239, 239, 0.65);
                }
                .menu-lbl{
                    font-size: 12px;
                    color: $color-grey;
                    display: block;
                    margin-top: 9.4px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.mod-menu{
    li{
        a{
            padding: 0 13px;
            &:hover{
                text-decoration: none;
            }
            .menu-icon{
                background: url("../images/css_sprites.png") no-repeat 0 0 transparent;
                display: block;
                margin: 0 auto;
                &.icon-scan{
                    background-position: -100px -543px;
                    width: 30px;
                    height: 37px;
                }
                &.icon-task{
                    background-position: -100px -1471px;
                    width: 29px;
                    height: 37px;;
                }
                &.icon-verifications{
                    background-position: -100px -313px;
                    width: 30px;
                    height: 37px;
                }
                &.icon-configuration{
                    background-position: -100px -1003px;
                    width: 29px;
                    height: 37px;
                }
                &.icon-settings{
                    background-position: -100px -773px;
                    width: 30px;
                    height: 37px;
                 
                }
                // &.icon-scan{
                //     background-position: -100px -550px;
                // }
                // &.icon-scan{
                //     background-position: -100px -550px;
                // }
            }
        }
    }
}

/*Styling for Header End*/


/* Radio button Styling Start */

.bs-radio{
    
    position: relative;
    display: inline-block;
    label {
       
   
        cursor: pointer;
        font-size: 14px;
        color: #242425;
        padding-left: 30px;
        margin-right: 30px;
        text-transform: uppercase;
        &:before{
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border: solid 1px #979797;
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }
    input {
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 22px;
        &:checked + label { 
            &:after{
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #344390;
                border: solid 1px #344390;
                margin: auto;
                display: inline-block;
                left: 4px;
                position: absolute;
                top: 4px;
            }
          }
    }
}

/* Radio button Styling End */

/* checkbox Styling Start */

.bs-checkbox{
    position: relative;
    display: inline-block;
    min-width: 135px;
    label {
        cursor: pointer;
        font-size: 14px;
        color: #242425;
        padding-left: 30px;
        margin-right: 30px;
        text-transform: capitalize;
        margin-bottom: 20px;
        &:before{
            content: "";
            width: 18px;
            height: 18px;
            border: solid 1px #9c9c9d;
            display: inline-block;
            position: absolute;
            left: 0;
        }
    }
    input {
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 22px;
        &:checked + label { 
            &:after{
                content: "";
                width: 18px;
                height: 18px;
                margin: auto;
                display: inline-block;
                left: 0;
                position: absolute;
                top: 0;
                background: url("../images/sprites_icon.png") no-repeat -100px -740px transparent;
            }
          }
    }
}

/* checkbox Styling End */

.lyt-footer{
    background: #f4f4f4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 25px;
    .btn-wrapper{
        margin: 8px 0;
    }
}

.col-wrap{
    .col2{
        width: 470px;
        float: left;
    }
}