// Color property variables

$color-light-blue: #5cc5ef;
$color-black: #000000;
$color-white: #ffffff;
$color-light-grey:#fbfbfb;
$color-blue:#344390;
$color-grey:#373434;
$color-dark-grey:#1f263e;

// Font-size property variables
$font-xxs: 12px;
$font-xsm: 13px;
$font-xs: 14px;
$font-sm: 16px;
$font-smd: 17px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 22px;
$font-xxl: 24px;
$font-xxxl: 26px;

// Font-weight property variables
$light: 300;
$regular: 400;
$semibold: 400;
$bold: 600;
$bolder: 700;
